.icon__like {
    min-width: 22px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("../../../images/like.svg");
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.icon__like:hover {
    opacity: 0.5;
}