.popup__input {
    outline: none;
    width: 100%;
    padding: 0px 0px 13px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}