.content-info-user {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media (max-width:700px) {
    .content-info-user {
        margin-bottom: 40px;
    }
}

@media (max-width: 550px) {
    .content-info-user {
        flex-direction: column;
    }
}