.popup__button {
    background: #000000;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 18px 0;
    transition: background-color .3s ease-in-out;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
    border: none;
}

.popup__button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 480px) {
    .popup__button {
        padding: 14px 0;
    }
}