.icon__trash {
    position: absolute;
    height: 19px;
    width: 18px;
    right: 20px;
    top: 25px;
    background-image: url("../../../images/trash.svg");
    cursor: pointer;
    transition: opacity .3s ease-in-out ;
}
.icon__trash:hover {
    opacity: 0.6;
}