@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.woff?5p2nit') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons';
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\e900";
    color: #fff;
}

.icon-pen:before {
    content: "\e901";
    color: #fff;
}

.icon-plus:before {
    content: "\e902";
    color: #fff;
}

.icon-like {
    min-width: 22px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("../images/like.svg");
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.icon-like:hover {
    opacity: 0.5;
}

.icon-like_active {
background-image: url("../images/like-dark.svg");
}
.icon-like_active:hover {
    opacity: 1;
}