.popup__close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -25px;
    top: -25px;
    font-size: 25px;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
}
@media (max-width: 550px) {
    .popup__close {
        right: 5px;
        top: -40px;
        font-size: 20px;
    }
}
.popup__close:hover {
    opacity: 0.6;
}