body, html {
    background-color: #000000;
    color: #ffffff;
    height: 100%;
}

[class*="__container"] {
    max-width: 884px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 15px;
}


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
